<section>
  <form #collectionsForm="ngForm" appIdentityRevealed>
    <div [hidden]="collectionsForm.submitted">
      <div
        class="cross-validation"
        [class.cross-validation-error]="
          collectionsForm.errors?.identityRevealed &&
          (collectionsForm.touched || collectionsForm.dirty)
        "
      >
        <div class="form-group">
          <mat-form-field class="example-form-field">
            <mat-label>Collection Title</mat-label>
            <input
              matInput
              type="text"
              name="title"
              id="title"
              required
              minlength="2"
              [(ngModel)]="movieCollecion.title"
              #title="ngModel"
              [ngModelOptions]="{ updateOn: 'blur' }"
            />
            <button
              *ngIf="movieCollecion.title"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="movieCollecion.title = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div
            *ngIf="title.invalid && (title.dirty || title.touched)"
            class="alert"
          >
            <div *ngIf="title.errors?.required">title is required.</div>
            <div *ngIf="title.errors?.minlength">
              title must be at least 2 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <mat-form-field class="example-form-field">
            <mat-label>Collection description</mat-label>
            <input
              matInput
              type="text"
              name="description"
              id="description"
              [(ngModel)]="movieCollecion.description"
              #description="ngModel"
            />
            <button
              *ngIf="movieCollecion.description"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="movieCollecion.description = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <button
        [disabled]="collectionsForm.invalid"
        mat-fab
        color="primary"
        (click)="onAddCollection()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="submitted-message" *ngIf="collectionsForm.submitted">
      <p>Collection {{ collectionsForm.value.name }} created!</p>
      <button
        mat-button
        color="primary"
        (click)="collectionsForm.resetForm({})"
      >
        Add new collection
      </button>
      <a [routerLink]="['/collections']" routerLinkActive="router-link-active"
        >See Collections</a
      >
    </div>
  </form>
</section>
