<div class="my-popup">
  <div class="my-popup-content">
    <div>
      <ul class="popup-movie-data">
        <li>
          <h2>{{ movie?.title }}</h2>
        </li>
        <li>
          <p>{{ movie?.overview }}</p>
        </li>
        <li>{{ movie?.poster_path }}</li>
        <li><span>budget </span><span></span> {{ movie?.budget }}</li>
        <li>
          <span>release date</span><span>{{ movie?.release_date }}</span>
        </li>
        <li>
          <span>revenue</span><span>{{ movie?.revenue }}</span>
        </li>
        <li>
          <span>vote average</span><span>{{ movie?.vote_average }}</span>
        </li>
        <li>
          <span>vote count</span><span>{{ movie?.vote_count }}</span>
        </li>
        <li>
          <span>spoken languages</span
          ><span *ngFor="let item of movie?.spoken_languages">{{
            item?.name
          }}</span>
        </li>
      </ul>
    </div>

    <div class="popup-rating">
      <mat-form-field appearance="fill">
        <form #ratingForm="ngForm" action="none">
          <mat-label>Choose rating</mat-label>
          <mat-select [(ngModel)]="selectedRatings" name="rating">
            <mat-option *ngFor="let item of ratings" [value]="item.value">
              {{ item.value }}
            </mat-option>
          </mat-select>
        </form>
      </mat-form-field>

      <button
        mat-button
        color="primary"
        [disabled]="ratingForm.invalid"
        (click)="rate()"
      >
        Submit rating
      </button>

      <button
        class="close"
        (click)="onClose()"
        mat-icon-button
        color="primary"
        aria-label="close"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    {{ postMessage }}
    <!-- <app-movie-details-more></app-movie-details-more>
original plan was to use this ↑, which would have more info. got an error of "i dont know what 
the hell is this component" which i thought had something to do with that newly created component 
but turns out, after excruciating debugging, that the problem was with the popup component. angular 
was happy to load the popup even though it was not imported in the module, but when you referenced 
another component angular would nag about THE OTHER COMPONENT  being a mystery to it... thanks, angular...
so anyways, by the time i figured out this, it was too late, popup was half way there and not enough 
time to refactor -->
  </div>
</div>
