<div class="my-popup">
  <div class="my-popup-content">
    {{ movie?.title }}
    <form #ratingForm="ngForm" action="none">
      <label for="rating">Your rating</label>
      <select title="rating">
        <option *ngFor="let item of ratings" [ngValue]="item.name">
          {{ item.value }}
        </option>
      </select>
      <button (click)="rate()">Submit rating</button>
    </form>
    <button (click)="onClose()">Close</button>
    {{ postMessage }}
    <!-- <app-movie-details-more></app-movie-details-more>
original plan was to use this ↑, which would have more info. got an error of "i dont know what 
the hell is this component" which i thought had something to do with that newly created component 
but turns out, after excruciating debugging, that the problem was with the popup component. angular 
was happy to load the popup even though it was not imported in the module, but when you referenced 
another component angular would nag about THE OTHER COMPONENT  being a mystery to it... thanks, angular...
so anyways, by the time i figured out this, it was too late, popup was half way there and not enough 
time to refactor -->
  </div>
</div>
