<p>home-search works!</p>
<form [formGroup]="form">
  <app-movie-search
    [form]="form"
    (newSearchEvent)="searchMovies(form.value.searchMovie, 1)"
  ></app-movie-search>
  <div *ngIf="f.searchMovie.errors?.wrong" class="invalid-feedback">
    Only words with more than 3 letters are allowed
  </div>
</form>
<pre>{{ form.value | json }}</pre>
{{ pages }}
<app-movie-list [movie]="movie" *ngFor="let movie of movies"></app-movie-list>
<app-pagination
  [pagesFeed]="pages"
  (newSearchEventWithPage)="searchMovies(form.value.searchMovie, $event)"
></app-pagination>
