<section>
  <div class="movie-search">
    <form [formGroup]="form">
      <app-movie-search
        [form]="form"
        (newSearchEvent)="searchMovies(form.value.searchMovie, 1)"
      ></app-movie-search>
      <div *ngIf="f.searchMovie.errors?.wrong" class="invalid-feedback"></div>
    </form>
  </div>

  <div class="movie-list">
    <app-movie-list
      [movie]="movie"
      *ngFor="let movie of movies"
    ></app-movie-list>
    <div class="search-placeholder"></div>
    <div class="search-placeholder"></div>
    <div class="search-placeholder"></div>
    <div class="search-placeholder"></div>
  </div>

  <div class="results-pages">
    <app-pagination
      [pagesFeed]="pages"
      (newSearchEventWithPage)="searchMovies(form.value.searchMovie, $event)"
    ></app-pagination>
  </div>
</section>
