<section>
  <div class="input-field" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Search for movies</mat-label>
      <input
        matInput
        #message
        maxlength="256"
        placeholder="Find a movie..."
        type="search"
        name="movie-search"
        id="movie-search"
        formControlName="searchMovie"
      />
      <mat-hint align="start"><strong>Minimum three letters</strong> </mat-hint>
    </mat-form-field>
    <button
      mat-button
      color="primary"
      [disabled]="!form.valid"
      type="button"
      (click)="searchMovie()"
    >
      <label class="label-icon" for="search"
        ><i class="material-icons">search</i></label
      >
    </button>
  </div>
</section>
